# Kubernetes
*.kubeconfig
kubeconfig
k3s.yaml

# Helm
*.tgz
.helm/

# Secrets (just in case)
*secret*.yaml
!*sealed-secret*.yaml
*sealed*.key

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
charts/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.auto.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
